    /* It descirbes the welcome msg say hi i am your assitant */
    .initial{
        font-weight: bold;
        list-style-type:none;
        text-transform: capitalize;

    }

    /* It describes the container of client chat or right side chat */
    .client{
        display: flex;
        justify-content: end; 
      
    }

    /* This below describes the chat of client or right side chat */
    .clientchat{       
        border:1px solid darkcyan;
        color:green;
        max-width:50%;

    }
    .clientchat:hover{
        background-color:rgb(123, 94, 228);
        color:white;
    }

    /* It describes the container of bot chat or left side chat */

    .bot{
        display: inline-block;
         max-width:50%;       
     }
    /* This below describes the chat of client or right side chat */

    .botchat{       
        border:1px solid gray;
            
    }

    .botchat:hover{
        background-color: rgb(172, 89, 180);
        color:white;
    }
 
    /* This describes the common properties of both client and bot chat */
    .botchat,.clientchat{
        padding:5px;
        border-radius:1px 10px 10px 10px;
        cursor: pointer;
       margin:2px;
       list-style-type:none;


    }

